@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
    width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: sans-serif;
    line-height: 1.125em;
    border-radius: 8px;
    padding: 10px;
}
.dark .react-calendar {
    background: #1f2937;
    color: white;
    border: 1px solid #374151;
}
.dark .react-calendar button {
    color: white;
}
.dark .react-calendar button:enabled:hover {
    background-color: #374151;
}